<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=T4DDBmonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>

		<!-- Screen Freeze -->
		<add key="freezeScreen" value="No" />


		<!-- Project settings -->
		<add key="ProjectTitle" value="Lawley Viaduct" />
		<add key="ContractTitle" value="test data" />
		<add key="ReportType" value="BBV test data" />


		<!-- Excel workbook settings -->
		<add key="ExcelPath" value="C:\__prismOffset\" />
		<add key="ExcelFile" value="prismOffset.xlsx" />

		<add key="ReferenceWorksheet" value="Reference" />

		<add key="FirstDataRow" value="2" /><!-- First row of data in the Reference worksheet -->
		<add key="FirstDataCol" value="2" /><!-- Column which will contain the dE in the Reference worksheet -->
		<add key="FirstOutputRow" value="7" />

		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />


	</appSettings>
</configuration>